@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;800&family=Tilt+Prism&display=swap');

body {
  background-image: url(./img/background1.jpg);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  
  margin: 25px solid red;
}
.app {
  box-sizing: border-box;
  width: 60%;
  height: auto;
  margin: auto;

  /* border: 2px solid blue; */
}

#canvas {
  position: absolute;
  top: 0%;
  overflow: hidden;
  z-index: -1;
}


.section-img {
  box-sizing: border-box;
  background-size: cover;

}

.section-img .img-torta {
  position: absolute;
  width: 55px;
  left: 44%;
  bottom: 22%;
}

.section-img .img-hand {
    width: 100%;
    
}

.balloon {
  background: var(--color);
  left: var(--left);
  animation-duration: var(--time);
  animation-delay: var(--delay);
  bottom: var(--bottom);
  /*
  - ease: La animación comienza lentamente, acelera en el medio y luego se desacelera hacia el final.
  - ease-in-out: La animación comienza lentamente, acelera en el medio y luego se desacelera hacia el final.

    - ease-in: La animación comienza lentamente y luego acelera hacia el final.
    - ease-out: La animación comienza rápidamente y luego se desacelera hacia el final.
    - linear: La velocidad de la animación es constante a lo largo del tiempo.

  - cubic-bezier(): Permite definir una función de temporización de animación
  personalizada utilizando puntos de control bezier. */
  animation-timing-function: var(--timing-function);


  position: absolute;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, .4);
  display: inline-block;
  width: 120px;
  height: 145px;
  border-radius: 80%;
  margin: 20px 30px;
  opacity: .8;

  animation-name: downTopAnimation;
  will-change: transform, opacity;
}

/* .balloon.none {
    visibility: hidden;
} */

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: var(--color);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
  transition: opacity 1s ease-in-out;
}

.balloon:after {
  display: inline-block;
  top: 153px;
  position: absolute;
  height: 120px;
  width: 1.5px;
  opacity: .9px;
  right: 0;
  left: 0;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.3);
}

.App-button  {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 15px;
  background: palevioletred;
  cursor: pointer;
  border: none;
  z-index: 10;  
}
  
.App-button:hover {
  background: rgb(220, 90, 229);
}

.App-button.none {
  display: none;
}

.article-card {
  text-align: center;
  background-color: palevioletred;
  border-radius: 5px;
}

.article-card .article-h1 {
  padding: 20px;
  margin: 0;
  color: rgb(92, 27, 70);
  border: 1px solid rgb(186, 102, 128);
}

.article-card .article-p {
  padding: 20px;
  margin: 0;
  border: 1px solid rgb(186, 102, 128);
}


@keyframes downTopAnimation {
  0% {
    bottom: -425px;
  }
  100% {
    bottom: 100%;
  }
}

@media(max-width: 600px) {
  .app {
    width: 80%;
  }
  
  .balloon {
    width: 70px;
    height: 83px;
    margin: 10px 15px;
  }
  
  /* .balloon.none {
      visibility: hidden;
  } */
  

  .balloon:after {
    top: 90px;
    height: 110px;
    width: 1.5px;
    right: 0;
    left: 0;
    opacity: .9;
  }
  
  
  .article-card .article-h1 {
    font-size: 20px;
  }
  
}