#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* La regla @media se utiliza para aplicar estilos específicos dependiendo
de las características del dispositivo o preferencias del usuario */

/* En este caso, se está utilizando la característica prefers-reduced-motion,
que indica si el usuario ha solicitado reducir o eliminar las animaciones
para evitar el mareo o la incomodidad relacionada con el movimiento. */
@media (prefers-reduced-motion: no-preference) {
  /* 'nth-of-type(2)' se utiliza para seleccionar elementos basados en su posición
   dentro de un contenedor en relación con otros elementos del mismo tipo. */
  a:nth-of-type(2) .logo {
    /*linear" significa que la velocidad de la
    animación será constante a lo largo del tiempo. */
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
